<% @docs.each do |filename| %>
  <ul>
    <li>
      <form action="<%= filename %>/delete" method="post" id="delete_<%= filename %>"></form>
      <form action="<%= filename %>/edit" method="get" id="edit_<%=filename %>"></form>
      <a href="<%= filename %>"><%= filename %></a> | 
      <button type="submit" form="edit_<%= filename %>" value="edit">Edit</button> | 
      <button type="submit" form="delete_<%= filename %>" value="delete">Delete</button>
    </li>
  </ul>
<% end %>

<p><a href="/new_doc/">New Document</a></p>
<p> 
  <form id="sign_out" action="/users/signout" method="gets"></form>
  <span class="session">Signed in as <%= session[:username] %>.</span> 
  <button form="sign_out" type="submit" value="Sign Out">Sign Out</button>
</p>